{% load pwa %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDo-LabC App</title>
  <!-- Webpack rendered CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  {% render_bundle 'main' 'css' %}
  {% progressive_web_app_meta %}
</head>

<body>
  <noscript>This page requires javascript to run. Please, enable javascript.</noscript>
  <div id="react-app"></div>
  <!-- Webpack rendered JS -->
  {% render_bundle 'main' 'js' %}

</body>

</html>
