.action-bar {
    background-color: #2A3037;

    height: 100vh;
    max-width: 4rem;
    margin-left: -1rem;
    box-shadow: 0.1rem 0 0 #4A4E51;

  &__add-btn {
    height: 2rem;
    width: 2rem;
    filter: invert(1);
  }
}
