.action-bar {
    background-color: #2A3037;
    box-shadow: 0.1rem 0 0 #4A4E51;
    margin-left: -16px;

  &__item{
    margin-right: -16px;

    &:hover {
      box-shadow: inset -0.4rem 0 0 0 gold;
      filter: brightness(0.6);
    }

    &__add-btn {
      height: 2rem;
      filter: invert(1);
    }
  }
}
