.header {
  background: #24292E;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 2rem;
    width: 2rem;
    filter: invert(1);

    &:hover{
      filter: invert(1) brightness(0.6);
    }
  }
}
